backbone/node_modules
backbone/dist
backbone/test/temp
backbone/.sass-cache
backbone/app/bower_components
backbone/.tmp
backbone/test/bower_components/
backbone/.idea
backbone/app/scripts/vendor
python/challenge/specs.txt
python/challenge/agenda.xml
python/.idea
python/**/.pyc
